@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --primary-color: #131313;
    --secondary-color: #727272;
    --btn-color: #ff900f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}
.btn{
    background-color: var(--btn-color);
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    border: 1px solid var(--btn-color);
    border-radius: 8px;
    color: #fff;
}
.btn:hover{
    color: var(--btn-color);
    background-color: #fff;
    transition: .5s ease-in-out;
}
.section-title{
    margin-bottom: 15px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
}
.section-description{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* common css or utilities end  */

/* header section start  */
header{
    background-color: #FF900E1A;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.menu p{
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-color);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary-color);
}
.banner{
    padding: 3rem 0;
    text-align: center;
}
.banner h1{
    font-weight: 700;
    font-size: 64px;
}
.header-image{
    padding-bottom: 20px;
}
.header-image img{
    width: 100%;
}
/* header section end  */

/* main section body start  */
/* main section one start  */
.section-one{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.left-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}
.left-one__image img{
    width: 250px;
    height: 250px;
}

#span-one{
    color: var(--secondary-color);
}
#span-two{
    color: var(--primary-color);
}
#span-three{
    color: var(--btn-color);
}
/* main section one end  */

/* main section two start  */
.section-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.left-two{
    max-width: 585px;
}
.left-two h2{
    padding-left: 10px;
    border-left: 2px solid var(--btn-color);
}
.left-two-box{
    padding: 20px 0 0 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.left-two-box h4{
    font-weight: 600;
    font-size: 20px;
}
.left-two-box p{
    max-width: 585px;
    white-space: wrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-bottom: 15px;
}
.right-two{
    max-width: 800px;
}
.right-two__image{
    position: relative;
    width: 95%;
    height: 100%;
}
.right-two__image img{
    width: 100%;
    height: 100%;
}
.floating-section{
    background-color: var(--btn-color);
    border-radius: 5px;
    color: #fff;
    height: 200px;
    width: 342px;
    padding: 20px;
    position: absolute;
    bottom: -30px;
    left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.floating-section h2{
    font-weight: 700;
    font-size: 65px;
}
.floating-section p{
    font-weight: 500;
    font-size: 25px;
}
/* main section two end  */

/* main section three start  */
.three{
    margin-top: 100px;
}
.three > h2{
    text-align: left;
}
.three > p{
    text-align: left;
}
.three-box{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.three-box-one{
    border: 1px solid var(--btn-color);
    padding: 15px 15px;
    height: 240px;
    width: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
    margin: 50px 0;
}
.three-box-one:hover{
    transform: scale(1);
    transition: .5s ease;
}
.three-box-one > img{
    width: 25%;
}
.three-box-one > h2{
    font-weight: 600;
    font-size: 45px;
}
.three-box-one > p{
    font-weight: 600;
    font-size: 20px;
}
/* main section three end  */

/* main section four start  */
.four{
    text-align: center;
    margin-top: 50px;
}
.four-logo{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 200px;
    filter: grayscale(1);
}
/* main section four end  */

/* footer section start  */
footer{
    background-color: rgba(255, 143, 14, 0.192);
}

.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
.icon{
    margin-top: 15px;
}

.icon img{
    margin-right: 5px;
}

.footer-form input[type="email"]{
    background: none;
    width: 300px;
    padding: 20px 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer > p{
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 25px;
}
/* footer section end  */
/* main css end  */

/* media query start  */
/* responsive for tablet devices */
@media only screen and (max-width: 768px) {
    .menu, nav ul{
        flex-direction: column;
    }
    .section-one{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .left-one{
        grid-template-columns: 1fr;
    }
    .section-two{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .floating-section{
        left: 40%;
        height: 100px;
        width: 180px;
    }
    .floating-section h2{
        font-size: 25px;
    }
    .floating-section p{
        font-size: 12px;
    }
    .three > h2, .three > p{
        text-align: center;
    }
    .three-box{
        gap: 0;
        flex-wrap: wrap;
    }
    .three-box-one{
        margin: 5px 0;
    }
    .four-logo{
        margin-bottom: 50px;
    }
    footer{
        text-align: center;
    }
}

/* responsive for mobile devices  */
@media only screen and (max-width: 425px) {
    .left-one{
        grid-template-columns: 1fr;
    }
    .floating-section{
        left: 30%;
    }
    .four-logo{
        flex-direction: column;
    }
}

/* media query end  */
